/* src/Components/TaskCard/TaskCard.css */
.task-card {
    position: relative;
    /* Ensure relative positioning for absolute elements */
    padding: 15px;
    color: white;
    background-color: #000000ed;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.task-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-card p{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0;
}
.delete-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.delete-button:hover {
    transform: scale(1.2);
    color: rgba(166, 16, 248, 0.95);
}